body {
    background-color: #ccffe5;
    font-family: "Monaco", Monospace;
    color: #00234e;
}

a{
  color: #008B8B;
  text-decoration: none;
}

h1{
  font-size:3em;
  color: #e6eeff;
}

h4{
  font-size:2em;
  color: #e6eeff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  text-align: center;
  border: 3px #00234e;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ffa64d;
  padding: 20px;
  text-align: center;
}

.header2 {
  background-color: #ffa64d;
  padding: 20px;
  text-align: center;
}

.cover{
  background: url(images/stolen_drawing.png);
  height:290px;
  background-position: center;
  background-size: contain;
}
